{% extends 'layout.html'%}
{% block content%}

<form action={{url_for('customers')}} method="post">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Customer Name</label>
    <select class="form-control" id="exampleFormControlSelect1" name="customer_name">
      {% for customer in customers%}
      <option value="{{customer.customer_name}}">{{customer.customer_name}}</option>
      {% endfor %}
    </select>
  </div>
  
<a href="{{url_for('see_statements')}}"><button  class="btn btn-primary">Show Results</button></a>
</form>

{% endblock %}